html {
  font-family: sans-serif;
}

body {
  background-color: #9b7153;
  color: rgb(255, 255, 255);
  /* width: 100%; */
}

header {
  display: flex;
  justify-content: center;
}
h1 {
  margin: 15px;
}

main {
  /* width: 100vw; */
  /* display: flex; */
}

.controls {
  display: flex;
  /* flex-direction: column; */
  /* margin: 0 auto; */
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.grid-size {
  display: flex;
  max-width: 280px;
  margin: 0 auto 5px auto;
  gap: 5px;
  justify-content: space-between;

  /* justify-content: center;
  padding: 5px;
  gap:5px;
  flex: 0 0 1; */
}

.sketch-pad {
  width: 480px;
  height: 480px;
  background-color: white;
  margin: 0 auto;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.cell {
  flex: 0 0 auto;
  background-color: white;
}

.hover-color-black {
  background-color: black;
}

.hover-color-multi {
  background-color: rebeccapurple;
}

.slider {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: var(--primary-light);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 15px;
  border: 2px solid orange;
  border-radius: 25px;
  background: white;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: orange;
}

.active {
  border: 2px solid orange;
  background-color: orange;
  color: white;
}

button:hover {
  border: 2px solid orange;
  /* background-color: orange;
  color: white; */
}

input[type='color']:hover {
  border: 2px solid orange;
}

button,
input[type='color'] {
  margin: 10px 5px;
  border-radius: 5px;
  background-color: white;
  border-style: solid;
}

button {
  padding: 6px;
  font-size: 14px;
}
